vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Nov 2003 06:05:05 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|20 Nov 2003 06:05:05 -0000
vti_filesize:IR|1984
vti_cachedlinkinfo:VX|A|core_data.php H|position_without_location.php H|families_without_position.php H|employees_without_boss.php H|positions_without_employees.php H|add_employee.php H|employee_without_position.php H|view_demographics.php H|add_employee.php H|employees_without_empstatus.php H|status_not_assigned.php H|add_employee.php H|employees_without_access.php H|add_employee.php H|employees_without_contact.php H|add_position.php H|../fix_employee.php
vti_cachedsvcrellinks:VX|NAUS|Pms/templates/core/core_data.php NHUS|Pms/templates/core/position_without_location.php NHUS|Pms/templates/core/families_without_position.php NHUS|Pms/templates/core/employees_without_boss.php NHUS|Pms/templates/core/positions_without_employees.php NHUS|Pms/templates/core/add_employee.php NHUS|Pms/templates/core/employee_without_position.php NHUS|Pms/templates/core/view_demographics.php NHUS|Pms/templates/core/add_employee.php NHUS|Pms/templates/core/employees_without_empstatus.php NHUS|Pms/templates/core/status_not_assigned.php NHUS|Pms/templates/core/add_employee.php NHUS|Pms/templates/core/employees_without_access.php NHUS|Pms/templates/core/add_employee.php NHUS|Pms/templates/core/employees_without_contact.php NHUS|Pms/templates/core/add_position.php NHUS|Pms/templates/fix_employee.php
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_backlinkinfo:VX|
