vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Nov 2003 06:04:41 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|20 Nov 2003 06:04:41 -0000
vti_filesize:IR|1916
vti_cachedbodystyle:SR|<body class=B1>
vti_cachedlinkinfo:VX|Q|style.css A|families.php H|edit_families.php H|delete_families.php
vti_cachedsvcrellinks:VX|NQUS|Pms/templates/core/style.css NAUS|Pms/templates/core/families.php NHUS|Pms/templates/core/edit_families.php NHUS|Pms/templates/core/delete_families.php
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_backlinkinfo:VX|
