vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Nov 2003 05:48:24 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|11 Nov 2003 05:48:24 -0000
vti_filesize:IR|878
vti_cachedlinkinfo:VX|A|families_without_position.php H|edit_families.php
vti_cachedsvcrellinks:VX|NAUS|Pms/templates/core/families_without_position.php NHUS|Pms/templates/core/edit_families.php
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_backlinkinfo:VX|
