vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|18 Dec 2003 03:00:44 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|18 Dec 2003 03:00:44 -0000
vti_filesize:IR|2123
vti_cachedlinkinfo:VX|A|skills_data.php H|view_lang.php H|edit_settings.php H|locationsetting.php H|chart_builder.php H|positionsetting.php H|core_data.php H|display_eeo_status.php H|families.php H|employment_type.php H|contacts.php H|add_lables.php H|import_employee_details.php H|access_rights.php H|add_newemp.php H|show_administrators.php H|chain_of_command.php H|view_pages_as_admin.php H|view_pages_as_boss.php
vti_cachedsvcrellinks:VX|NAUS|Pms/templates/core/skills_data.php NHUS|Pms/templates/core/view_lang.php NHUS|Pms/templates/core/edit_settings.php NHUS|Pms/templates/core/locationsetting.php NHUS|Pms/templates/core/chart_builder.php NHUS|Pms/templates/core/positionsetting.php NHUS|Pms/templates/core/core_data.php NHUS|Pms/templates/core/display_eeo_status.php NHUS|Pms/templates/core/families.php NHUS|Pms/templates/core/employment_type.php NHUS|Pms/templates/core/contacts.php NHUS|Pms/templates/core/add_lables.php NHUS|Pms/templates/core/import_employee_details.php NHUS|Pms/templates/core/access_rights.php NHUS|Pms/templates/core/add_newemp.php NHUS|Pms/templates/core/show_administrators.php NHUS|Pms/templates/core/chain_of_command.php NHUS|Pms/templates/core/view_pages_as_admin.php NHUS|Pms/templates/core/view_pages_as_boss.php
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_backlinkinfo:VX|
