vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|18 Nov 2003 07:02:59 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|18 Nov 2003 07:02:59 -0000
vti_filesize:IR|910
vti_cachedtitle:SR| {{cYouarein}} {{dir1}} {{cModule}} {{cAndthepageis}} {{pagename}} 
vti_cachedbodystyle:SR|<body class=B1>
vti_cachedlinkinfo:VX|Q|../style.css
vti_cachedsvcrellinks:VX|NQUS|Pms/templates/style.css
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset={{charset}}
vti_charset:SR|windows-1252
vti_title:SR| {{cYouarein}} {{dir1}} {{cModule}} {{cAndthepageis}} {{pagename}} 
vti_backlinkinfo:VX|
