vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|08 Nov 2003 09:23:43 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|08 Nov 2003 09:23:43 -0000
vti_filesize:IR|1087
vti_cachedlinkinfo:VX|A|edit_location.php H|add_location.php H|location_settings.php H|edit_location.php H|delete_location.php H|location_settings.php H|location_settings.php
vti_cachedsvcrellinks:VX|NAUS|Pms/templates/core/edit_location.php NHUS|Pms/templates/core/add_location.php NHUS|Pms/templates/core/location_settings.php NHUS|Pms/templates/core/edit_location.php NHUS|Pms/templates/core/delete_location.php NHUS|Pms/templates/core/location_settings.php NHUS|Pms/templates/core/location_settings.php
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_backlinkinfo:VX|
