vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|08 Nov 2003 09:29:04 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|08 Nov 2003 09:29:04 -0000
vti_filesize:IR|547
vti_cachedlinkinfo:VX|H|add_priority.php H|edit_priority.php H|priority.php
vti_cachedsvcrellinks:VX|NHUS|Pms/templates/core/add_priority.php NHUS|Pms/templates/core/edit_priority.php NHUS|Pms/templates/core/priority.php
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_backlinkinfo:VX|
