vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|10 Nov 2003 05:14:25 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|10 Nov 2003 05:14:25 -0000
vti_filesize:IR|2005
vti_cachedlinkinfo:VX|A|show_administrators.php H|set_admins.php H|set_admins.php
vti_cachedsvcrellinks:VX|NAUS|Pms/templates/core/show_administrators.php NHUS|Pms/templates/core/set_admins.php NHUS|Pms/templates/core/set_admins.php
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_backlinkinfo:VX|
