vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|08 Nov 2003 09:32:43 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|08 Nov 2003 09:32:43 -0000
vti_filesize:IR|543
vti_cachedlinkinfo:VX|A|view_pages_as_boss.php H|change_dashboard_to_admin.php
vti_cachedsvcrellinks:VX|NAUS|Pms/templates/core/view_pages_as_boss.php NHUS|Pms/templates/core/change_dashboard_to_admin.php
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_backlinkinfo:VX|
