vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Nov 2003 06:03:36 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|20 Nov 2003 06:03:36 -0000
vti_filesize:IR|923
vti_cachedlinkinfo:VX|H|add_lang.php H|edit_lang.php H|delete_lang.php
vti_cachedsvcrellinks:VX|NHUS|Pms/templates/core/add_lang.php NHUS|Pms/templates/core/edit_lang.php NHUS|Pms/templates/core/delete_lang.php
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_backlinkinfo:VX|
