<script>
function check()
{

	with(document.frm1)
	{

		if(fEmail.value=="")
		{
			alert('Enter a valis email');
			return false;
		}
	}
	return true;
}
</script>
<form action="add_employee_information.php" name=frm1 method="post" onSubmit="return check();">
<center>
<h1>
{{cAddEmployee}}
<input type="button" name="fHelp" value={{cHelp}} onClick="window.open('../lang/{{default}}/core/add_employee.html');">
</h1>
</center>
<table class=code align=center>
<tr>
<td class=code>
{{cEmailfield}}
</td>
<td class=code>
<input type="text" name="fEmail" value="{{email}}">
</td>
</tr>
<tr>
<td class=code>
{{cBoss}}
</td>
<td class=code>
<select name="fBoss">
<option  class=code value="">{{cSelect}}</option>
<{boss_loopstart}>
<option <{selected}> class=code value="<{user_id}>"><{username}></option>
<{boss_loopend}>
</select>
</td>
</tr>
<tr>
<td class=code>
{{cPosition}}
</td>
<td class=code>
<select name="fPosition">
<option  class=code value="">{{cSelect}}</option>
<{position_loopstart}>
<option <{selected}> class=code value="<{pos_id}>"><{position_name}></option>
<{position_loopend}>
</select>
</td>
</tr>
<tr>
<td class=code>
{{cEmploymenttype}}
</td>
<td class=code>
<select name="fEmployment">
<option class=code value="">{{cSelect}}</option>
<{employment_loopstart}>
<option <{selected}> class=code value="<{id}>"><{type_{{default}}}></option>
<{employment_loopend}>
</select>
</td>
</tr>
<tr>
<td class=code>
{{cAccessrights}}
</td>
<td class=code>
<select name="fAccess">
<option class=code value="">{{cSelect}}</option>
<{access_loopstart}>
<option <{selected}> class=code value="<{id}>"><{type_{{default}}}></option>
<{access_loopend}>
</select>
</td>
</tr>
</table>


<center>
<input type="hidden" name="employee_id" value="{{employee_id}}">
<input type="button" name="fBack" value="{{cBack}}" onClick="window.history.back();">
<input type="submit" name="fSubmit" value="{{cSubmit}}">
</form>