<script>
function check()
{
	with(document.frm1)
	{
		
		if((fNewPosition.value=="") && (fPosition.value==""))
		{
			alert("{{cEntertheNewPositiontoAdd}}");
			return false;
		}
		if(fPosition.value!="")
		{
			frm1.submit();
		}

	}
	return true;
}

</script>
<form action="add_position_information.php" name=frm1 method=post onSubmit="return check();">
<center>
<h1>
{{cAddPosition}}
<input type="button" name="fHelp" value={{cHelp}} onClick="window.open('../lang/{{default}}/core/add_employee.html');">
</h1>
</center>
<h2>
{{cpostep1}}
</h2>
<table align=center>
<th>
{{cNewPosition}}
</th>
<tr>
<td class=code>
{{cPosition}}
</td>
<td class=code>
<input type="text" name="fNewPosition" value="{{position_name}}">
</td>
</tr>
</table>
<table align=center class=table>
<th>
{{cOldPosition}}
</th>
<tr>
<td class=code>
{{cPosition}}
</td>
<td class=code>
<select name="fPosition" onChange="return check();">
<option class=code value="">{{cSelect}}</option>
<{position_loopstart}>
<option <{selected}> class=code value="<{pos_id}>"><{position_name}></option>
<{position_loopend}>
</select>

</td>
</tr>
<tr>
<td class=code>
</td>
</tr>
</table><center>
<input type="button" name="fBack" value="{{cBack}}" onClick="window.history.back();">
<input type="submit" name="fNext" value="{{cNext}}" >
<input type="hidden" name="employee_id" value="{{pos_id}}">
</center>
</form>