<head>
<LINK REL="STYLESHEET" TYPE="text/css" HREF="style.css">
</head>
<body class=B1>


<table border=1 align = center>
<form action ="store_tags.php" method=post>
<input type=hidden name=tag_id value="<{tag_id}>">
<input type=hidden name=eeo_id value="<{eeo_id}>">
<tr>
<td class=code>
{{cDeletetag}}
</td>


<td class=code>
<input type=text name=fTag_name value="<{tag_name}>">
</td>
<td class=code>
<input type=submit name=fDelete_tag value="{{cDeletetag}}">
</td>
</tr>

</form>
</table>
<table align=center>
<tr>
<td class=code>
<a href="showeeo_tags.php?eeo_id=<{eeo_id}>">{{cShowtags}}</a> 
</td>
</tr>
</table>

</body>
