<script>
function check()
{

	with(document.editform)
	{
		if(fLocation.value=="")
		{
			alert('{{cValueforloc}}');
			fLocation.focus();
			return false;
		}
	}
	return true;
}
</script>
<form action="edit_location.php" name="editform" method="post" onSubmit="return check();">
<input type="hidden" name="fSubmit" value="submit1">
<table class=table align=center border=1>
<tr>
<td class=code>
{{cEditthelocation}}:
</td>
<td class=code>
<input type="text"  name="fLocation" value="{{location}}">
</td>
<td class=code>
<input type="submit" name="submit1" value="{{cEditthelocation}}">
</td>
</tr>
</table>
<center><a href="location_settings.php?id={{front_id}}&denotes={{denotes}}">{{cShowall}}</a></center>
<input type="hidden" name="id" value="{{id}}">
<input type="hidden" name="front_id" value="{{front_id}}">
<input type="hidden" name="denotes" value="{{denotes}}">
</form>