
<script language='javascript'>
function validate()
{
	if (document.frm.fFamily_name.value=='')
	{
		alert('{{cJavascriptnamealert}}');
		document.frm.fFamily_name.focus();
		return false;
	}
}
</script>

	<center>
		<h1>
		{{cEditfamilymessage}}
		<input type=button name=fHelp value="{{cHelp}}" onclick="window.open('../lang/{{default}}/core/edit_families.html');">	
		</h1>
	</center>

<table border=1 align = center>
<form action ="edit_families.php" method=post name='frm' onSubmit="return validate()">
<input type=hidden name=family_id value="<{family_id}>">
<tr>
<td class=code>
{{cEditfamily}}
</td>


<td class=code>
<input type=text name=fFamily_name value="<{family_name}>">
</td>

<tr>
<td class=code>
{{cEditfam_rel_pos}}
</td>


<td class=code>
<select name=related_pos[] multiple >

<{position_loopstart}>
<option value='<{key}>' <{sel}> ><{value}></option>
<{position_loopend}>

</select>
</td>
</tr>
<tr>
<td class=code colspan=2 align=center>
<input type=submit name=fEdit_family value="{{cEditfamily}}";
</td>
</tr>
</form>
</table>
<table align=center>
<tr>
<td class=code>
<a href="families.php">{{cShowfamilies}}</a> 
</td>
</tr>
</table>
</body>