</body>
<hr>
<table class=table>
<tr>
<td class=code>
{{cThisisfooter}}
</td>
</tr>
<tr>
<td class=code>
<a href="logout.php">{{cSignout}}</a>
</td>

<td class=code>&nbsp; 
<a href="../outer.php">{{cOuterpanel}}</a>
</td>

<td class=code>&nbsp;&nbsp;
<a href="front_panel.php">{{cCorefrontpanel}}</a>
</td>

<{8ae1016c4044ea668c4db3f57e3cc7f1_start}>
	<td class=code>&nbsp;&nbsp; 
		<a href="../career/front_panel.php">{{cCareerfrontpanel}}</a>
	</td>

<{8ae1016c4044ea668c4db3f57e3cc7f1_end}>
	
<{25a9ac406aceb47a0c6cade972bc26fa_start}>

	<td class=code>&nbsp;&nbsp; 
		<a href="../learning/front_panel.php">{{cLearningfrontpanel}}</a>
	</td>
	
<{25a9ac406aceb47a0c6cade972bc26fa_end}>


<{c05f6c233521207f6fe311afef550c3c_start}>

	<td class=code>&nbsp;&nbsp; 
		<a href="../performance/per_setting.php">{{cPerformancefrontpanel}}</a>
	</td>

<{c05f6c233521207f6fe311afef550c3c_end}>
	


</tr>
</table>
</html>