
	<center>
	<h1>
	{{cCorefrontpanel}}

	<input type="button" name="fHelp" value="{{cHelp}}" onClick="window.open('../lang/{{default}}/core/front_panel.html');">

	</h1>
	</center>


<table class=table align=center >
<{edit_settings_start}>
<form action="skills_data.php" method="post">

<tr>
<td class=code>
<a href="view_lang.php"><b>{{cLangsetting}}</b><a><br><br>
</td>
</tr>


<tr>
<td class=code>
<a href="edit_settings.php"><b>{{cEditsettings}}</b><a><br><br>
</td>
</tr>


<tr>
<td class=code>
<a href="locationsetting.php"><b>{{cLocation}}</b></a><br><br>
</td>
</tr>


<tr>
<td class=code>
<a href="chart_builder.php"><b>{{cChartbuilder}}</b></a><br><br>
</td>
</tr>




<tr>
<td class=code>
<a href="positionsetting.php"><b>{{cPosition}}</b></a><br><br>
</td>
</tr>


<tr>
<td class=code>
<a href="core_data.php"><b>{{cClientStatuschanges}}</b></a><br><br>
</td>
</tr>


<tr>
<td class=code>
<a href="display_eeo_status.php"><b>{{cOpp_status}}</b></a><br><br>
</td>
</tr>
<tr>
<td class=code>
<a href="families.php"><b>{{cFamilies}}</b></a><br><br>
</td>
</tr>

<tr>
<td class=code>
<a href="employment_type.php"><b>{{cEmploymenttype}}</b></a><br><br>
</td>
</tr>

<tr>
<td class=code>
<a href="contacts.php"><b>{{cContacts}}</b></a><br><br>
</td>
</tr>
<tr>
<td class=code>
<a href="add_lables.php"><b>{{cAddlables}}</b></a><br><br>
</td>
</tr>
<tr>
<td class=code>
<a href="import_employee_details.php"><b>{{cImportEmp}}</b></a><br><br>
</td>
<tr>
<td class=code>
<a href="access_rights.php"><b>{{cAccessrights}}</b></a><br><br>
</td>
</tr>
<tr>
<td class=code>
<a href="add_newemp.php"><b>{{cAddnewemply}}</b></a><br><br>
</td>
</tr>

<tr>
<td class=code>

<a href="show_administrators.php"><b>{{cAssignadmin}}</b></a><br><br>

</td>

</tr>

<tr>
<td class=code>
<a href="chain_of_command.php"><b>{{cChainofCommand}}</b></a><br><br>
</td>
</tr>



<tr>
<td class=code>
<a href="view_pages_as_admin.php"><b>{{cViewPagesAsAdmin}}</b></a><br><br>
</td>
</tr>

<tr>
<td class=code>
<a href="view_pages_as_boss.php"><b>{{cViewPagesAsBoss}}</b></a><br><br>
</td>
</tr>
<{edit_settings_end}>
</table>
</body>
</html>
