<form action="mail_options.php" method="post">
<center><h1>{{cMailoptions}}
<input type="button" name="fHelp" value="{{cHelp}}" onClick="window.open('../lang/{{default}}/core/mail_options.html');"></h1></center>
{{cEmp_mailoption}}
<table class=table align=center>
<tr>
<td class=code>
{{cEnterthesubject}}
</td>
<td class=code>
<input type="text" name="fSubject" value="{{subject}}">
</td>
</tr>
<tr>
<td class=code>
{{cEnterthemessage}}
</td>
<td class=code>
<textarea name="fMessage" rows=2 cols=30>{{message}}</textarea>
</td>
</tr>
</table>
{{cAdminmailoption}}
<table class=code align=center>
<tr>
<td class=code>
{{cEnterthesubject}}
</td>
<td class=code>
<input type="text" name="fSubject2" value="{{subject2}}">
</td>
</tr>
<tr>
<td class=code>
{{cEnterthemessage}}
</td>
<td class=code>
<textarea name="fMessage2" rows=2 cols=30>{{message2}}</textarea>
</td>
</tr>
</table>

{{cAssignplanoption}}
<table class=code align=center>
<tr>
<td class=code>
{{cEnterthesubject}}
</td>
<td class=code>
<input type="text" name="fSubject3" value="{{subject3}}">
</td>
</tr>
<tr>
<td class=code>
{{cEnterthemessage}}
</td>
<td class=code>
<textarea name="fMessage3" rows=2 cols=30>{{message3}}</textarea>
</td>
</tr>
</table>
{{cAssignsolutionoption}}
<table class=code align=center>
<tr>
<td class=code>
{{cEnterthesubject}}
</td>
<td class=code>
<input type="text" name="fSubject4" value="{{subject4}}">
</td>
</tr>
<tr>
<td class=code>
{{cEnterthemessage}}
</td>
<td class=code>
<textarea name="fMessage4" rows=2 cols=30>{{message4}}</textarea>
</td>
</tr>
</table>

<tr>
<td class=code>
</td>
<td class=code>
<input type="submit" name="fSubmit" value="{{cUpdatemailoption}}"
</td>

</tr>
</table>
</form>
