<script>
</script>
<form action="position_without_location.php" method="post">
<center>
<h1>
{{cPositionwithoutLocation}}
<input type="button" name="fHelp" value="{{cHelp}}" onClick="window.open('../lang/{{default}}/core/position_without_location.html');">
</h1>
</center>
<table align=center>

<th class=code>
{{cPosition}}
</th>
<th class=code>
	{{cAdded_by}}
</th>
<th class=code>
{{cDate_added}}
</th>

<{position_loopstart}>
<tr>
<td class=code>
<a href="addposition.php?pos_id=<{pos_id}>"><{position_name}></a>
</td>
<td class=code>
<{added_by}>
</td>
<td class=code>
<{date_added}>
</td>
</tr>
<{position_loopend}>
</table>
<center>
<input type="button" name="fBack" value="{{cBack}}" onClick="window.history.back();">
<input type="button" name="fPrint" value="{{cPrint}}" onClick="window.print();">
<!--
<input type="button" name="fSave" value="{{cSave}}" >
-->
</center>
</form>
