<script>
function check()
{

	with(document.form1)
	{
		if(fPosition_name.value=="")
		{
			alert('{{cEntervalidpos}}');
			fPosition_name.focus();
			return false;
		}
	}
	return true;
}
</script>
<form action="position_populate.php" name="form1" method="post" onSubmit="return check();">
<table class=code>
	<tr>
		<td class=code>
			<h1><b>{{cOrganisationchartbuilder}}</b></h1>
		</td>
		<td class=code>
		<input type="button" name="fHelp" value="{{cHelp}}" onClick="window.open('../lang/{{default}}/core/position_populate.html');">
		</td>
	</tr>
<tr>
<td class=code>
{{cStep3}}
</td>
</tr>
</table>
<table class=table>
<tr>
<td class=code>
{{cPosition}}</td>
<td class=code>
<input type="text" name=fPosition_name value="{{position}}">
<input type="hidden" name=fPosition value="{{pos_id}}">
<!--
<select name=fPosition>
	<option class=code value=""> Select</option>
	<{position_loopstart}>
	<option  <{selected}> class=code value="<{key}>"> <{value}> </option>
	<{position_loopend}>
	</select>
	-->
</td>
</tr>
<tr>
<td class=code>
{{cLevel}}
</td>
<td class=code>
<!--{{level}}
-->
<select name=fLevel>
	<option class=code value="">{{cSelect}}</option>
	<{level_loopstart}>
	<option  <{selected}> class=code value="<{value}>"> <{value}> </option>
	<{level_loopend}>
	</select>
	
</td>
<td class=code>
{{cLocation}}</td>
<td class=code>
<select name=fLocation>
	<option class=code value="">{{cSelect}}</option>
	<{location_loopstart}>
	<option  <{selected}> class=code value="<{key}>"> <{value}> </option>
	<{location_loopend}>
	</select>
</td>
</tr>
<tr>
</tr>
<tr>
<td class=code colspan=2>
{{cWhatnamesthispos}}
</td>
</tr>
<{newposition_loop_start}>
<tr>
<td class=code>
{{cPosition}}<!--{{id}}-->
</td>
<td class=code>
<input type="text" name="position_name_{{id}}" value="{{position_name}}">
</td>
<td>
<select name="level_no_{{id}}">
	<option class=code value="">{{cSelect}}</option>
	<{userlevel_loopstart}>
	<option  <{selected}> class=code value="<{value}>"> <{value}> </option>
	<{userlevel_loopend}>
	</select>
	
</td>
</tr>
<{newposition_loop_end}>
<tr>
<td>
</td>
<td class=code>
<input type="submit" name="fUpdate" value="{{cUpdatethesettings}}">
</td>
<td class=code>
<input type="button" name="fBack" value="{{cBack}}" onClick="window.history.back()">
</td>
</tr>
</table>

</form>
