<form action="qualification.php" method=post>
<br>
<center><a href="addqualification.php">{{cAddQualification}}</a></center>
<br>
<table align=center border=1>
<tr>
	<td><b>{{cQualification}}</td>
	<td><b>{{cEdit}}</td>
	<td><b>{{cDelete}}</td>
</tr>
<{qualification_loopstart}>
<tr>
	<td><{fQualification}></td>
	<td><a href="editqualification.php?qid=<{qid}>">{{cEdit}}</a></td>
	<td><a href="qualification.php?qid=<{qid}>" onClick="return (confirm('Do you really want to Delete'))">{{cDelete}}</a></td>
</tr>
<{qualification_loopend}>
</table>
</form>	
