<form action="set_admins.php" method=post>
<center>
<h1>
{{cSetadmin_setadmins}}
<input type="button" name="fHelp" value="{{cHelp}}" onClick="window.open('../lang/{{default}}/set_admins.html');">
</h1>
</center>
<table align=center>
<input type=hidden name=user_id value={{user_id}}>
<tr>
<td class=code align=center>
<b>{{cSetadmin_setadmins}}</b>
</td>
</tr>
<!--
<tr>
<td class=code>
{{cUsername}}
</td>
<td class=code>
<select name="fUsername">
<option class=code value="">{{cSelect}}</option>
<{username_loopstart}>
<option class=code <{selected}> value=<{user_id}> > <{username}></option>
<{username_loopend}>
</select>
</td>
</tr>

-->

<tr>
<td class=code>
{{cSetadmin_email}}
</td>
<td class=code>
<select name="email">
<option class=code value="">{{cSelect}}</option>
<{email_loopstart}>
<option class=code <{selected}> value=<{user_id}> ><{email}></option>
<{email_loopend}>
</select>
</td>
</tr>


<!--
<tr>
<td class=code>
{{cSetadmin_email}}
</td>


<td>
<{email_loopstart}>
<input type=text name=email value="<{email}>">
<{email_loopend}>
</td>
-->
</tr>
<tr>
<td class=code>
<b>{{cSetadmin_groupstoadmin}}</b>
</td>

</tr>
<tr>
<td class=code>
{{cSetadmin_levels}}
</td>
<td>
<select name=level[] multiple>
<{level_loopstart}>
<option class=code value=<{level_value}>  <{selected}> ><{level_value}></option>
<{level_loopend}>
</td>
</tr>

<tr>
<td class=code>
{{cSetadmin_families}}
</td>
<td>
<select name=families[] multiple>
<{family_loopstart}>
<option value=<{family_id}>  <{selected}>><{family_name}></option>
<{family_loopend}>
</td>
</tr>


<tr>
<td class=code>
{{cSetadmin_boss}}
</td>
<td>
<select name=boss[] multiple>
<{boss_loopstart}>
<option value=<{boss_id}> <{selected}> ><{boss_name}></option>
<{boss_loopend}>
</td>
</tr>


<tr>
<td class=code>
{{cSetadmin_location}}
</td>
<td>
<select name=location[] multiple>
<{location_loopstart}>
<option value=<{location_id}>  <{selected}>><{location_name}></option>
<{location_loopend}>
</td>
</tr>


<tr>
<td class=code>
{{cSetadmin_position}}
</td>
<td>
<select name=position[] multiple>
<{position_loopstart}>
<option value=<{pos_id}>  <{selected}>><{position_name}></option>
<{position_loopend}>
</td>
</tr>




<td class=code>
{{cSetadmin_employmenttype}}
</td>
<td >
<select name=employment_type[] multiple>
<{employment_loopstart}>
<option value=<{id}> <{selected}>><{type}></option>
<{employment_loopend}>
</td>
</tr>
<tr>
<td>
<input type=submit name=fEditadmin value="{{cSetadmin_editadmin}}">
</td>
<td>
<input type="submit" name="fDelete" value="{{cDelete}}">
</td>
<td>
<input type="button" name="fBack" value="{{cBack}}" onClick="window.history.back()">
</td>
</tr>
</table>
</form>
