<script>
function check()
{
	
	with(document.frm)
	{
		reg=/fDemo_/;
		len=elements.length;
		for(i=0,cnt=0,ini=0;i<len;i++)
		{
			name=elements[i].name;
			if(reg.test(name))
			{				
				ini++;
				value=elements[i].value;
				if(value=="")
				{
					cnt++;
				}
			}
		}
		if(cnt==ini)
		{
			alert('{{cSelectDemo}}');
			return false;
		}
		
	}
	return true;
}


</script>

<form action="view_demographics.php" name=frm method="post" onSubmit="return check();">
<center>
<h1>
{{cViewDemograophics}}
<input type="button" name="fHelp" value="{{cHelp}}" onClick="window.open('../lang/{{default}}/core/view_demographics.html');">
</h1>
</center>
<h2>
{{cDemoStep1}}
</h2>
<table align=center>
<{outer_loopstart}>
<tr>
<td class=code>
<{category}>
</td>
<!--
</tr>
<tr>
-->
<td class=code>
<select name="fDemo_<{id}>[]" multiple>
<{inner_loopstart}>
<option class=code value="<{key}>"><{value}></option>
<{inner_loopend}>
</select>
</td>
</tr>
<{outer_loopend}>
</table>
<center>
<input type="button" name="fBack" value="{{cBack}}" onClick="window.history.back();">
<input type="submit" name="fSubmit" value="{{cNext}}">
</center>
</form> 