
<form action="core_data.php" methd="post">
<center>
<h3>
{{cCoredataadministration}}
<input type="button" name="fHelp" value="{{cHelp}}" onClick="window.open('../lang/{{default}}/career/core_data/core_data.html');">
</h3>
</center>
<table align=center>
<tr>
<td class=code>
<a href="position_without_location.php">{{cPositionwithoutLocation}}</a>
</td>
</tr>
<tr>
<td class=code>
<a href="families_without_position.php">{{cFamilieswithoutPosition}}</a>
</td>
</tr>
<tr>
<td class=code>
<a href="employees_without_boss.php">{{cEmployeeswithoutBoss}}</a>
</td>
</tr>
<tr>
<td class=code>
<a href="positions_without_employees.php">{{cPositionwithoutEmployees}}</a>
</td>
</tr>
<tr>
<td class=code>
<a href="add_employee.php">{{cAddChangeEmployee}}</a>
</td>
</tr>
<tr>
<td class=code>
<a href="employee_without_position.php">{{cEmployeewithoutPosition}}</a>
</td>
</tr>

<tr>
<td class=code>
<a href="view_demographics.php">{{cViewDemograophics}}</a>
</td>
</tr>


<tr>
<td class=code>
<a href="add_employee.php">{{cAssignorchangeempstatus}}</a>
</td>
</tr>

<tr>
<td class=code>
<a href="employees_without_empstatus.php">{{cEmployeeswithoutanemploymentstatus}}</a>
</td>
</tr>
<tr>
<td class=code>
<a href="add_employee.php">{{cSetUserAccess}}</a>
</td>
</tr>
<tr>
<td class=code>
<a href="employees_without_access.php">{{cEmployeeswithoutaccess}}</a>
</td>
</tr>
<tr>
<td class=code>
<a href="add_employee.php">{{cSetexternalcan}}</a>
</td>
</tr>

<tr>
<td class=code>
<a href="employees_without_contact.php">{{cEmployeesmissingcontactinformation}}</a>
</td>
</tr>

<tr>
<td class=code>
<a href="add_position.php">{{cFixPosition}}</a>
</td>
</tr>

<tr>
<td class=code>
<a href="../fix_employee.php">{{cFixemp}}</a>
</td>
</tr>


</table>
<table align=center>
<tr>
<td class=code>
<input type="button" name="fBack" value="{{cBack}}" onClick="window.history.back();">
</td>
</tr>
</table>

</form>