vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 Dec 2003 10:50:02 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|29 Dec 2003 10:50:02 -0000
vti_filesize:IR|1767
vti_cachedlinkinfo:VX|A|add_setting.php H|performance_message.php H|qualification.php H|rating.php H|priority.php H|sowner_defined_text.php H|graph_setting.php
vti_cachedsvcrellinks:VX|NAUS|Pms/templates/performance/add_setting.php NHUS|Pms/templates/performance/performance_message.php NHUS|Pms/templates/performance/qualification.php NHUS|Pms/templates/performance/rating.php NHUS|Pms/templates/performance/priority.php NHUS|Pms/templates/performance/sowner_defined_text.php NHUS|Pms/templates/performance/graph_setting.php
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_backlinkinfo:VX|
