vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Nov 2003 11:34:56 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|19 Nov 2003 11:34:56 -0000
vti_filesize:IR|5097
vti_cachedlinkinfo:VX|S|../jscripts/calendar2.js A|approve_objective2.php H|javascript:cal_<{c}>_<{ct}>.popup(); S|../images/calender.gif H|javascript:cal1_<{c}>_<{ct}>.popup(); S|../images/calender.gif
vti_cachedsvcrellinks:VX|NSUS|Pms/templates/jscripts/calendar2.js NAUS|Pms/templates/performance/approve_objective2.php SHUS|javascript:cal_<{c}>_<{ct}>.popup(); NSUS|Pms/templates/images/calender.gif SHUS|javascript:cal1_<{c}>_<{ct}>.popup(); NSUS|Pms/templates/images/calender.gif
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_backlinkinfo:VX|
