vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Dec 2003 10:44:11 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|19 Dec 2003 10:44:11 -0000
vti_filesize:IR|3752
vti_cachedlinkinfo:VX|S|../jscripts/calendar2.js A|build_performance_plan.php H|javascript:cal<{i}>.popup(); S|../images/calender.gif
vti_cachedsvcrellinks:VX|NSUS|Pms/templates/jscripts/calendar2.js NAUS|Pms/templates/performance/build_performance_plan.php SHUS|javascript:cal<{i}>.popup(); NSUS|Pms/templates/images/calender.gif
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_backlinkinfo:VX|
