vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|05 Jan 2004 06:52:02 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|05 Jan 2004 06:52:02 -0000
vti_filesize:IR|13879
vti_cachedlinkinfo:VX|S|../jscripts/calendar2.js A|performance_summary2.php S|summary_result.php S|summary_result_1.php S|summary_result_2.php S|summary_result_2.php H|javascript:cal_<{sl_id}>.popup(); S|../images/calender.gif H|javascript:cal1_<{sl_id}>.popup(); S|../images/calender.gif H|javascript:cal2_<{sl_id}>.popup(); S|../images/calender.gif H|javascript:cal3_<{sl_id}>.popup(); S|../images/calender.gif H|javascript:cal4_<{sl_id}>.popup(); S|../images/calender.gif H|javascript:cal5_<{sl_id}>.popup(); S|../images/calender.gif
vti_cachedsvcrellinks:VX|NSUS|Pms/templates/jscripts/calendar2.js NAUS|Pms/templates/performance/performance_summary2.php NSUS|Pms/templates/performance/summary_result.php NSUS|Pms/templates/performance/summary_result_1.php NSUS|Pms/templates/performance/summary_result_2.php NSUS|Pms/templates/performance/summary_result_2.php SHUS|javascript:cal_<{sl_id}>.popup(); NSUS|Pms/templates/images/calender.gif SHUS|javascript:cal1_<{sl_id}>.popup(); NSUS|Pms/templates/images/calender.gif SHUS|javascript:cal2_<{sl_id}>.popup(); NSUS|Pms/templates/images/calender.gif SHUS|javascript:cal3_<{sl_id}>.popup(); NSUS|Pms/templates/images/calender.gif SHUS|javascript:cal4_<{sl_id}>.popup(); NSUS|Pms/templates/images/calender.gif SHUS|javascript:cal5_<{sl_id}>.popup(); NSUS|Pms/templates/images/calender.gif
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_backlinkinfo:VX|
