vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|30 Dec 2003 04:08:22 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|30 Dec 2003 04:08:22 -0000
vti_filesize:IR|2907
vti_cachedlinkinfo:VX|A|performance_status_report.php S|status_report.php H|performance_summary1.php H|performance_summary1.php
vti_cachedsvcrellinks:VX|NAUS|Pms/templates/performance/performance_status_report.php NSUS|Pms/templates/performance/status_report.php NHUS|Pms/templates/performance/performance_summary1.php NHUS|Pms/templates/performance/performance_summary1.php
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_backlinkinfo:VX|
