vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Nov 2003 05:47:49 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|20 Nov 2003 05:47:49 -0000
vti_filesize:IR|728
vti_cachedlinkinfo:VX|A|qualification.php H|addqualification.php H|editqualification.php H|qualification.php
vti_cachedsvcrellinks:VX|NAUS|Pms/templates/performance/qualification.php NHUS|Pms/templates/performance/addqualification.php NHUS|Pms/templates/performance/editqualification.php NHUS|Pms/templates/performance/qualification.php
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_backlinkinfo:VX|
