vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 Nov 2003 04:36:51 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|29 Nov 2003 04:36:51 -0000
vti_filesize:IR|4450
vti_cachedlinkinfo:VX|S|../jscripts/calendar2.js A|admin_plan_approval.php H|javascript:cal1_<{skills}>_<{text}>.popup(); S|../images/calender.gif H|javascript:cal2_<{skills}>_<{text}>.popup(); S|../images/calender.gif H|feedback.php H|javascript:cal_<{skills}>_<{text}>.popup(); S|../images/calender.gif
vti_cachedsvcrellinks:VX|NSUS|Pms/templates/jscripts/calendar2.js NAUS|Pms/templates/learning/admin_plan_approval.php SHUS|javascript:cal1_<{skills}>_<{text}>.popup(); NSUS|Pms/templates/images/calender.gif SHUS|javascript:cal2_<{skills}>_<{text}>.popup(); NSUS|Pms/templates/images/calender.gif NHUS|Pms/templates/learning/feedback.php SHUS|javascript:cal_<{skills}>_<{text}>.popup(); NSUS|Pms/templates/images/calender.gif
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_backlinkinfo:VX|
