vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 Nov 2003 04:38:06 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|29 Nov 2003 04:38:06 -0000
vti_filesize:IR|658
vti_cachedlinkinfo:VX|A|career/front_panel.php H|career/front_panel.php H|learning/dev_solution.php H|core/front_panel.php H|learning/dev_solution.php H|performance/per_setting.php
vti_cachedsvcrellinks:VX|NAUS|Pms/templates/learning/career/front_panel.php NHUS|Pms/templates/learning/career/front_panel.php NHUS|Pms/templates/learning/learning/dev_solution.php NHUS|Pms/templates/learning/core/front_panel.php NHUS|Pms/templates/learning/learning/dev_solution.php NHUS|Pms/templates/learning/performance/per_setting.php
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_backlinkinfo:VX|
