vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|24 Jan 2004 08:53:27 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|24 Jan 2004 08:53:27 -0000
vti_filesize:IR|5367
vti_cachedlinkinfo:VX|A|learning_status_report.php S|graph_results.php S|graph_results1.php S|graph_ratingsby.php S|rating_com_graph.php
vti_cachedsvcrellinks:VX|NAUS|Pms/templates/learning/learning_status_report.php NSUS|Pms/templates/learning/graph_results.php NSUS|Pms/templates/learning/graph_results1.php NSUS|Pms/templates/learning/graph_ratingsby.php NSUS|Pms/templates/learning/rating_com_graph.php
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_backlinkinfo:VX|
