vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 Nov 2003 04:35:57 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|29 Nov 2003 04:35:57 -0000
vti_filesize:IR|1412
vti_cachedlinkinfo:VX|S|../jscripts/calendar2.js A|update_learning_plan.php
vti_cachedsvcrellinks:VX|NSUS|Pms/templates/jscripts/calendar2.js NAUS|Pms/templates/learning/update_learning_plan.php
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_backlinkinfo:VX|
