
<table align=center border=0>
<tr>
<td class=code align=center>


<b>{{cAlertassessment_mess1}}</b>

</td>
</tr>
<tr>
<td class=code align=center>
<{interappraisal_start}>

<a href=alert_multirater.php>{{cAlertassessment_inter}}</a>
<{interappraisal_end}>

</td>
</tr>

<tr>
<td class=code align=center>
<{techappraisal_start}>
<a href=tech_multirater.php>{{cAlertassessment_tech}}</a>
<{techappraisal_end}>
</td>
</tr>

<{rejectedoffersdisplay_start}>
	<tr>
		<td class=code align=center><br>
			<br>
			<b>{{cAlertassessment_rejected}}</b>
		</td>
	</tr>
	<tr>
		<td class=code align=center>
			<a href=rejected_offers.php>{{cAlertassessment_rejectedoffers}}</a>
		</td>
	</tr>
<{rejectedoffersdisplay_end}>
</table>

<table align=left border=0>
<tr>
<td class=code align=left>
<input type=button name=fBack value='{{cAlertassessment_back}}' onClick = "history.back()";>
</td>
</tr>
</table>
<br><br>	
