
<table border =1>
<tr>
<td class=code>
{{cDisplay_testname}} : {{fTestname}}
</td>
</tr>
<tr>
<td class=code>
{{cDisplay_testid}}  : {{test_id}}
</td>
</tr>
</table><br><br>

<{result_loopstart}>


<table align=center border = 1 class=table>
<tr>
<td class=code>
{{cDisplay_skillname}} : <{skill_name}>
</td>
<tr>
</tr>
<td class=code>
{{cDisplay_skillid}}  : <{skill_id}>
</td>
</tr>
<tr>
<td class=code>
{{cDisplay_totalscore}} :<{totalscore_new}>
</td>
</tr>
<tr>
<td class=code>
{{cDisplay_score}} :<{score_percent}>
</td>
</tr>
<tr>
<td class=code>
{{cDisplay_level}} : <{level_display}>
</td>
</tr>

</table>

<{result_loopend}>
<p align=center>
<input type=button name=return value="{{cDisplay_returntest}}" onclick="javascript:history.go(-2)">
</p>









