<script language="Javascript">
function validate_all()
{
	with(document.frm1)
	{
	
		 if(model_sel.value == 0 )
		{
			alert('Enter Job Family Model');
			return false;
		}
	}
}
</script>

<center>
<h1>
{{cTechnicalFit}}
<input type="button" name="fHelp" value="Help" onClick="window.open('../lang/1/career/employee_report_tech.html');">
</h1>
</center>

<form action=employee_report_tech.php method=post name=frm1 onSubmit="return validate_all()";>

<table align=center cellspacing=0 cellpadding=0 border=1>
	<tr>
	
		<td class=code>
			{{cJobfamilymodel}}
			<select name=model_sel>
				<option value='0'> Select a Job Family Model </option>
				<{model_loopstart}>
				<option value='<{model_id}>'> <{model_name}> </option>
				<{model_loopend}>
			</select>
		</td>
	</tr>
	<tr>
		<td class=code colspan=2 align=center>
			
			<input type=button name=fBack value='  {{cBack}}  ' onClick="window.history.back()";>&nbsp;&nbsp;&nbsp;
			<input type=submit name=fModel value=' {{cSubmit}} '>
		
		
		</td>
	</tr>
</table>
</form>
