<h1>
<center>
{{cViewOutstanding}}{{cCSkill}}
<input type="button" name="fHelp" value="{{cHelp}}" onClick="window.open('../lang/{{default}}/career/outstanding_assignments_skill.html');">
</h1></center>
<table aign=center border=1 align=center>
<tr>
	<td class=code>
	{{cEmployeeNamee}}
	</td>
	<td class=code>
	{{cPositionAssigned}}
	</td>
	<td class=code>
	{{cDateSkillBuilderAssigned}}
	</td>
</tr>
<{row_loopstart}>
<tr <{highlight}>>
	<td class=code >
	<a href="mailto:<{email}>"><{username}></a>
	</td>
	<td class=code>
	<{position_name}>
	</td>
	<td class=code >
	<{date}>
	</td>
</tr>
<{row_loopend}>
</table>
