<form name=frm1 action=pos_without_designee.php method=post>
<table align=center cellspacing=0 cellpadding=4 border=1>
<tr>
	<th class=code colspan=2>
		{{cPoswithoutdesigneesinsuccessplan}}
		<input type=button name=fHelp value='{{cHelp}}' onClick="window.open('../lang/{{default}}/career/pos_without_designee.html');">
	</th>
</tr>

<tr>
	<td class=code align=center colspan=2>
		<b>{{cPoswithoutBothdesignee}}</b>
	</td>
</tr>
<{bothdesignee_loopstart}>
<tr>
	<td class=code >
		<!--<a href=assign_succession_plan1.php?fBoss=<{bossid}>&pos_id_sel=<{pos_id_des}> > <{posname}></a>-->
		<a href="javascript:void(window.open('boss_name.php?pos_id=<{pos_id_des1}>','Contact','width=700,height=400,menubar=yes,scrollbars=yes,0,0,resizable=yes'))"><{posname1}></a>
	</td>	
	<!--<td class=code>
		<{bossname}>
	</td>-->
</tr>	
<{bothdesignee_loopend}>


<tr>
	<td class=code align=center colspan=2>
		<b>{{cPoswithoutfirstdesignee}}</b>
	</td>
</tr>
<{firstdesignee_loopstart}>
<tr>
	<td class=code >
		<!--<a href=assign_succession_plan1.php?fBoss=<{bossid}>&pos_id_sel=<{pos_id_des}> > <{posname}></a>-->
		<a href="javascript:void(window.open('boss_name.php?pos_id=<{pos_id_des}>','Contact','width=700,height=400,menubar=yes,scrollbars=yes,0,0,resizable=yes'))"><{posname}></a>
	</td>	
	<!--<td class=code>
		<{bossname}>
	</td>-->
</tr>	
<{firstdesignee_loopend}>
<tr>
	<td class=code align=center colspan=2>
	<b>{{cPoswithoutseconddesignee}}</b>
	</td>
</tr>

<{seconddesignee_loopstart}>
<tr>
	<td class=code >
<!--	<a href=assign_succession_plan1.php?fBoss=<{bossid2}>&pos_id_sel=<{pos_id_des2}> > <{posname2}></a>-->
<a href="javascript:void(window.open('boss_name.php?pos_id=<{pos_id_des2}>','Contact','width=700,height=400,menubar=yes,scrollbars=yes,0,0,resizable=yes'))"><{posname2}></a>
	</td>	
<!--	<td class=code>
		<{bossname2}>
	</td>-->
</tr>	
<{seconddesignee_loopend}>
<tr>
	<td class=code colspan=2 align=center>
		<input type=button name=fBack value=' {{cBack}} ' onClick="window.history.back();">
		<input type=button name=fPrint value="  {{cPrint}}  " onClick="window.print();">
	</td>
</tr>

</table>
</form>
