<h1>
	<center>
	{{cRaterWhoRejected}}
	<input type=button name=fHelp value='{{cHelp}}' onClick="window.open('../lang/{{default}}/career/refused_raters.html');">
	</center>
</h1>
<table align=center border=1>
<tr>
	<td class=code>
	<b>{{cCEmployeeName}}</b>
	</td>
	<td class=code>
	<b>{{cEmailAddress}}</b>
	</td>
	<td class=code>
	<b>{{cNoofTimesRatersRefused}}</b>
	</td>
</tr>
<{user_loopstart}>
<tr>
	<td class=code>
	<{username}>
	</td>
	<td class=code>
	<a href="mailto:<{email}>"><{email}></a>
	</td>
	<td class=code>
	<{count1}>
	</td>
</tr>
<{user_loopend}>
</table>
