<html>
<form action="skills_display.php" method="post">
<table class=table align=center>

<{display_loopbegin}>
<tr>
<td class=code>
{{cSkillname}}</td><td class=code><input type="text" name="skill_name_<{skill_id}>" value="<{skill_name}>">
</td>

	<td class=code>
	{{cThisissameas}}<input type=checkbox name="sameas_<{skill_id}>" value='yes'>
	</td>
	<td class=code>
{{cSkillname}}
<select name="skill_select_<{skill_id}>">
<option value="">Select</option>
		<{skill_loopstart}>
			<option <{selected}> class=code value="<{skill_id}>"><{skill_title}></option>
		<{skill_loopend}>
		</select>
</td>
<tr>
<td  class=code>{{cSkilldescription}}</td><td><textarea name="skill_desc_<{skill_id}>"><{skill_desc}></textarea>
</td>
</tr>
<{display_loopexit}>
</table>
<center>
<input type="submit"  name="fSave" value="{{cSave}}">
<input type="hidden" name="fbuild_id" value="{{build_id}}">
</center>
</form>
</html>	