 

<h4>{{cTestbuilder}}</h4> 

{{cNameoftest}}: {{fTestname}} <br>
{{cIdoftest}}: {{test_id}}

<form name=form2 action="store_test_questions.php" method=post>
<input type=hidden name=fTestname value={{fTestname}} >
<input type=hidden name=test_id value={{test_id}} >


<{quest_loopstart}>

<table border=1 align = center>

<tr>

	<td align=top>
		{{cQuestionno}}: <{fNo}>
	</td>
	<td align=top>
		<input type=text name=fQuestion_<{fNo}> value="" >
	</td>
	<td class=code>
		{{cMarks}}<input type=text name=fMarks_<{fNo}> value="">
	</td>

</tr>

<tr>
	<td class=code>
		{{cAnswers}} {{cMarkcorrect}}: 
	</td>

	<td class=code>
	<{ans_loopstart}>

		<input type=checkbox name='fCheck_<{fNo}>_<{fNo1}>' value="r">

 		<input type=text name='fAns_<{fNo}>_<{fNo1}>' value="">

 		<input type=text size=2 name='fWeight_<{fNo}>_<{fNo1}>' value=""><br>

	<{ans_loopend}>

	</td>



</tr>
<tr>
	<td class=code>
		{{cWhich_skill_tested}}
	</td>
	<td class=code>

		

		<select name=fSkillname_<{fNo}> >
<{skill_loopstart}>
			<option value='<{key}>'> <{value}> </option>
<{skill_loopend}>
		</select>

	

	</td>
<tr>
	<td class=code>
	</td>
</tr>
</table >
<{quest_loopend}>


	<table align=center>
	


	<tr>
		<td class=code><br><br>
			<input type=submit name='fLater' value="{{cSave_finishlater}}">
		</td>
		<td class=code><br><br>
			<input type=button name=fBack value="{{cBack}}" onClick="window.history.back()">
		</td>
		<td class=code><br><br>
			<input type=submit name='fNext' value="{{cNext}}">
		</td>

	</tr>

</form>

</table>
