
<table border =1>
<tr>

<{result_loopstart}>


<table align=center border = 1 class=table>
<tr>
<td>
{{cDisplay_skillname}} : <{skill_name}>
</td>
<tr>
</tr>
<td>
{{cDisplay_skillid}}  : <{skill_id}>
</td>
</tr>
<tr>
<td>
{{cDisplay_totalscore}} :<{totalscore_new}>
</td>
</tr>
<tr>
<td>
{{cDisplay_score}} :<{score_percent}>
</td>
</tr>
<tr>
<td>
{{cDisplay_level}} : <{level_display}>
</td>
</tr>

</table>

<{result_loopend}>
<p align=center>
<input type=button name=return value="{{cDisplay_returntest}}" onclick="javascript:history.go(-3)" >
</p>

