<form action="test_usage.php" method=post>
<center>
<h1>
{{cTest_usage}}
<input type="button" name="fHelp" value={{cHelp}} onClick="window.open('../lang/{{default}}/career/test_usage.html');">
</h1>
</center>
<table align=center>
<tr>
<td class=code>
<a href="tests_taken.php">{{cTest_taken}}</a>
</td>
</tr>
<tr>
<td class=code>
<a href="skills_without_test.php">{{cSkillswithouttests}}</a>
</td>
</tr>
<tr>
<td class=code>
<input type="button" name="fBack" value={{cBack}} onClick="window.history.back();">
</td>
</tr>
</table>

</form>