<form action="tests_taken.php" method="post">
<center>
<h1>
{{cFrequency_of_test}}
<input type="button" name="fHelp" value={{cHelp}} onClick="window.open('../lang/{{default}}/career/tests_taken.html');">
</h1>
<table align=center border=1>
<tr>
<td class=code>
<b>{{cTestname}}</b>
</td>
<td class=code>
<b>{{cSkillname}}</b>
</td>
<td class=code>
<b>{{cNoofTimesTaken}}</b>
</td>
</tr>


<{test_loopstart}>
<tr>
<td class=code>
<a href="view_employee_test.php?test_id=<{test_id}>"><{test_name}></a>
</td>
<td class=code>
<{skill_name}>
</td>
<td class=code>
<{number}>
</td>
</tr>
<{test_loopend}>


</table>
<table>
<tr>
<td class=code>
<input type="button" name="fBack" value={{cBack}} onClick="window.history.back();">
</td>
<td class=code>
<input type="button" name="fPrint" value={{cPrint}} onClick="window.print();">
</td>
<td class=code>
<!--
<input type="button" name="fSave" value={{cSave}} >
-->
</td>
</tr>
</table>
</center>
</form>