

<table border =1>
<tr>
<td>
{{cDisplay_testname}}  : {{fTestname}}
</td>
</tr>
<tr>
<td>
{{cTaketestid}}: {{test_id}}
</td>
</tr>
</table>
<table align=center border = 1 class=table>
<form action="store_test_marks.php" method=post>

<input type=hidden name=test_id value="{{test_id}}">
<input type=hidden name=test_type value="{{test_type}}" >
<input type=hidden name=test_mode value="{{test_mode}}">
<{quest_loopstart}>
<tr>
<td>
{{cTaketestquestion}}  <{No}>:
</td>
<td>
 <{question}>
</td>
</tr>
<tr>
<td>

{{cTaketestanswers}} :
</td>
<td>
<{ans_loopstart}>

	<input type=radio name=fCheck_<{q_id}> value=fCheck_<{q_id}>_<{ans_id}>>	 <{answer}>
<br>
<{ans_loopend}>
</td>
</tr>


<{quest_loopend}>

<tr>
<td colspan = 2 align = center>

<input type=submit name=fResult value="{{cUserwritetest_getrslt}}">


</td>
</tr>


</form>

</table>