<form action="approve_personal_info.php" method="post">
<input type="button" name="fHelp" value="{{cHelp}}" onClick="window.open('../lang/{{default}}/alert_for_newemp.html');">
<table class=table align=center>
<{changeable_textstart}>
<tr>
<td class=code>
{{nametodis}}
</td>
<td class=code>
<input type="text"  name="{{field}}" value="{{value}}">
</td>
</tr>
<{changeable_textend}>
<tr>
<td class=code>
{{cLevel}}
</td>
<td class=code>
<input type="text"  name="fLevel" value="{{level}}">
</td>
</tr>
<tr>
<td class=code>
{{cLocation}}
</td>
<td class=code>
<select name=fLocation>
	<option class=code value="">{{cSelect}}</option>
	<{Location_loopstart}>
	<option  <{selected}> class=code value="<{i}>"> <{location_name}> </option>
	<{Location_loopend}>
	</select>
</td>
</tr>
<tr>
<td class=code>
{{cPosition}}
</td>
<td class=code>
<select name="fPosition">
<option value="">{{cSelect}}</option>
<{position_loopstart}>	
<option <{selected}> value="<{key}>"><{value}></option>
<{position_loopend}>
</select>
</td>
</tr>
<tr>
<td class=code>
{{cSetadmin_boss}}
</td>
<td class=code>
<input type="text"   name="fBoss" value="{{bossname}}">
</td>
</tr>
<tr>
<td class=code>
{{cEmp_type}}
</td>
<td class=code>
<select name="fEmployment">
<option class=code value="">{{cSelect}}</option>
<{employement_loopstart}>
<option <{selected}> class=code value="<{key}>"> <{value}> </option>
<{employment_loopend}>
</select>
</td>
</tr>
<tr>
<td class=code>
{{cEEOstatus}}
</td>
<td class=code>
<select multiple name="fEEOStatus[]">
<!--
<option class=code value="">{{cSelect}}</option>-->
<{eeo_loopstart}>
<option  <{selected}> class=code value="<{key}>"> <{value}> </option>
<{eeo_loopend}>
</select>
</td>
</tr>
<tr>
<td class=code>
{{cOff_phone}}
</td>
<td class=code>
<input type="text"   name="fOffPhone" value="{{Offphone}}">
</td>
</tr>
<tr>
<td class=code>
{{cCell}}
</td>
<td class=code>
<input type="text"   name="fCellPhone" value="{{cellphone}}">
</td>
</tr>
<tr>
<td class=code>
{{cPager}}
</td>
<td>
<input type="text"   name="fPager" value="{{pager}}">
</td>
</tr>
<tr>
<td class=code>
{{cFax}}
</td>
<td class=code>
<input type="text"   name="fFax" value="{{fax}}">
</td>
</tr>
<tr>
<td class=code>
{{cOffAddr}}
</td>
<td>
<textarea   name="fMailAddress">{{mailaddress}}</textarea>
</td>
</tr>
<tr>
<td class=code>
{{cOffPhyAddr}}
</td>
<td>
<textarea   name="fPhysicalAddress">{{physicaladdress}}</textarea>
</td>
</tr>
<tr>
<td class=code>
{{cPassword}}
</td>
<td>
<input type="text"   name="fPassword" value="{{password}}">
</td>
</tr>
</table>
<center>
<input type="button" name="fBack" value="{{cBack}}" onClick="window.history.back()">
<input type="submit" name="fSubmit" value="{{cApprove}}">
<input type="submit" name="fReject" value="{{cReject}}">
</center>
<input type="hidden" name="emp_id" value="{{emp_id}}">
</form>
