<script language = "JavaScript">
function timed_out(min_time)
{

	num=min_time*60*1000;

	setTimeout("open_new_session();",num);
	
}
function open_new_session()
{
	alert('{{cJavaScriptSessionTimeout}}');
	window.open('{{path}}/index.php');
	return false;
}

timed_out({{min_time}});
</script>


<html>
	<title>	
		{{cMain}}
	</title>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={{charset}}">
<LINK REL="STYLESHEET" TYPE="text/css" HREF="style.css">

</head>
<body class=B1>
<form name=frm1 >


<hr>
<table class=table>
<tr>
<td class=code>
<b>{{cLoggedinuser}}</b></td><td class=code>:{{user_name}}</td>
</tr>
<tr>
<td class=code><b>{{cDate}}     <b></td>
<td class=code>:{{date}}</td>
</tr>

</table>
</form>
