</body>
<hr>
<table class=table>

<tr>
<td class=code>
<a href="logout.php">{{cSignout}}</a>
</td>

<td class=code>&nbsp;
<a href="../outer.php">{{cOuterpanel}}</a>
</td>


<td class=code>&nbsp;
<a href="per_setting.php">{{cPerformancefrontpanel}}</a>
</td>

<{8ae1016c4044ea668c4db3f57e3cc7f1_start}>
<td class=code>&nbsp; 
<a href="../career/front_panel.php">{{cCareerfrontpanel}}</a>
</td>
<{8ae1016c4044ea668c4db3f57e3cc7f1_end}>


<{admins_area_start}>
	<{a74ad8dfacd4f985eb3977517615ce25_start}>
		<td class=code>&nbsp; 
			<a href="../core/front_panel.php">{{cCorefrontpanel}}</a>
		</td>
	<{a74ad8dfacd4f985eb3977517615ce25_end}>
<{admins_area_end}>	

<{25a9ac406aceb47a0c6cade972bc26fa_start}>
	<td class=code>&nbsp; 
		<a href="../learning/front_panel.php">{{cLearningfrontpanel}}</a>
	</td>
<{25a9ac406aceb47a0c6cade972bc26fa_end}>

 

<{Admin_mode_Setup}>
<td class=code>&nbsp;
<a href="resume_myself.php">{{cResume_myself}}</a>
</td>
<{Admin_mode_Setup}>

</tr>
</table>
</html>