<font class=code><b><u>{{cStrategicplan}}</u></b><br>
{{cStep1}}</font>
<table align=right>
<input type="button" name="fHelp" value="{{cHelp}}" onClick="window.open('../lang/{{default}}/performance/plan1_input.html');"><br>
</table>
<form action="plan1_input.php" method=post>

<table align=center class=code >
	<{category_loopstart}>
	
	<tr valign=top>
	<td><{count}>.{{cCategory}}(<{language}>)</td><td><input type=text name=fCategory<{new}>_<{lang_id}>_<{c}> value="<{cval}>" size=30 >
	<table class=code>
			<{metrics_loopstart}>
			<tr>
				<td ><{ct}>.{{cMetrics}}</td><td><input type=text size=30 name=fMetrics<{mnew}>_<{lang_id}>_<{c}>_<{me}> value="<{mval}>"></td>
			</tr>
			<{metrics_loopend}>
	</table>
		</td>
	</tr>
	<{category_loopend}>
	
</table>
<center><input type=submit name=save value="{{cSave}}">

<input type =submit name=next value="{{cNext}}"> </center>
</form>
