<center>
<h1>
{{cRuncron}}
<input type="button" name="fHelp" value="{{cHelp}}" onClick="window.open('../lang/{{default}}/performance/runcron.html');">
</h1>
</center>
<table class=code align=center>
<tr>
	<td><b><a href="cron/cron.php?action=AP">{{cApproveplan}}</a><br><br></td>
</tr>
<tr>
	<td><b><a href="cron/cron.php?action=AF">{{cApprovefeedback}}</a></b><br><br></td>
</tr>
<tr>
	<td><b><a href="cron/cron.php?action=AO">{{cApproveobjective}}</a></b><br><br></td>
</tr>
<tr>
	<td><b><a href="cron/cron.php?action=RO">{{cResubmitobjective}}</a></b><br><br></td>
</tr>
<tr>
	<td><b><a href="cron/cron.php?action=IP">{{cPerformanceimprovementplan}}</a><br><br></td>
</tr>
</table>
