<{category_loopstart}>
<table border=1>
	<tr>
	<td>
	<table>	
	<tr>
		<td><{count}>.<{cval}></td><td></td>
	</tr>

	<tr>
		<td></td><td><{mval}><input type=hidden name=metric_<{allnew}>_<{oid}>_<{c}> value="<{oid}>"></td>
	</tr>

	<tr>
	<td>{{cTheObjectibve}}</td>
	<td><textarea name=fObjective_<{allnew}>_<{c}> readonly><{fObjective}></textarea></td>
	<td>{{cPriority}}<{priority_loopstart}><{pval}><input type=radio name=fPriority_<{allnew}>_<{c}> value="<{pindex}>" <{priorcheck}>  readonly><{priority_loopend}></td>	
	</tr>
	<tr>
	<td>{{cTotalnocomitted}}</td><td><input type=text readonly name=fCommitted_<{allnew}>_<{c}> value="<{fCommitted}>"size=3></td>
	<td>{{cThisnois}}<select name=fPercent_<{allnew}>_<{c}> readonly>
		<{percentage_loopstart}>
		<option value="<{percentindex}>" <{perselect}> ><{percent}></option>
		<{percentage_loopend}>
		</select>
	</td>
	</tr>

	<tr>
	<td>{{cHowiget}}</td><td><textarea name=fHow_<{allnew}>_<{c}> readonly><{fGet}></textarea></td>
	</tr>
</table>
</td>
</tr>
</table>
<br>
<{category_loopend}>