

<center>
	<h1>
	
	<input type="button" name="fHelp" value="{{cHelp}}" onClick="window.open('../lang/{{default}}/performance/performance_improvement_plan.html');">
	</h1>
</center>

<table width=100% align=center>
<tr>
	<td class=code>
	<input type text=fName value={{name}} readonly>{{cPerformanceImprovementplan}}
	</td>
</tr>
<tr>
	<td class=code>
	{{cStep1of3}}
	</td>
</tr>

<tr>
	<td class=code>
	{{name}}{{cMust}}
	</td>
</tr>
<tr>

	<td class=code>
	<TEXTAREA WRAP=PHYSICAL NAME="fRequirement" ROWS=2 COLS=30 READONLY>{{requirement}}</TEXTAREA>
	</td>
			
</tr>
<tr>
	<td class=code> 
{{cBy}}
<input type=text name="fDate1" readonly size=10 value={{date}} readonly >

	
	
</tr>
<tr>

	<td class=code>
	<TEXTAREA WRAP=PHYSICAL NAME="fConsequences" ROWS=4 COLS=30 READONLY>{{consequences}}</TEXTAREA>
	</td>
			
</tr>


</table>
</form>
