<center><h1>{{cDevsolution}}<input type=button name=help value="{{cHelp}}" onClick="window.open('../lang/{{default}}/learning/dev_solution.html');"></h1></center>

<form action="dev_solution1.php" method=POST name="learning" >
<input type=hidden name=text_num value="{{nooftext}}">
{{cEnter}}
<br>
<br>

{{cAdd}}
<br>{{cSelectSolution}}<br>

<{solution_loopstart}>

<{sol_names}> {{cIn}} <{skill_name}>

	<{ways1_loopstart}>

	<br><{types}>


	
			<table>
			<tr>
			<td>{{cTitle}}</td>
			<td>{{cDescription}}</td>

			<td> <{Display}> </td>

			</tr>

	<{text_loopstart}>

			<tr>
			
			<td><input name="title_<{basic_id}>_<{interbasic_id}>_<{text}>" type="text" class="dropdown" value="<{title}>"></td>
			<td> <textarea name="description_<{basic_id}>_<{interbasic_id}>_<{text}>" wrap="VIRTUAL" class="dropdown"><{desc}></textarea> </td>
			<td><input name="url_<{basic_id}>_<{interbasic_id}>_<{text}>" type="text" class="dropdown" value="<{url}>"></td>

			</tr>
		
		<{text_loopend}>

		</table>
	<{ways1_loopend}>
<input type=hidden  name=hidenib_<{basic_id}> value="<{hidib_id}>" >
<{solution_loopend}>

<table>

<tr>
<td><input type=submit name="back" value="{{cBack}}"></td>

<input type=hidden name=skill_id value="{{skill_id}}">

<td><input type=submit name="save" value="{{cSaveandFinish}}" </td>

<td><input type=submit name="submit" value="{{cSubmitForApproval}}"  ></td>

</tr>
</table>

</form>

