<table align=center>
<form action="career/front_panel.php" method="post">
<br>
<tr>
<td class=code>
<a href="career/front_panel.php"><b>{{cCareermodule}}</b></a><br>
</td>
</tr>
<tr>
<td class=code>
<br><a href="learning/dev_solution.php?action=front_panel"><b>{{cLearning}}</b></a><br>
</td>
<{admin_area}>
<tr>
<td class=code>
<br><a href="core/front_panel.php"><b>{{cCoremodule}}</b></a><br>
</td>
</tr>
<{admin_area}>


<tr>
<td class=code>
<br><a href="learning/dev_solution.php"><b>{{cCoreLearning}}</b></a><br>
</td>
</tr>
<tr>
<td class=code>
<br><a href="performance/per_setting.php"><b>{{cPerformance}}</b></a>
</td>
</tr>


</form>

</table>
<br>
