vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|06 Feb 2004 07:25:37 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|06 Feb 2004 07:25:37 -0000
vti_filesize:IR|1238
vti_cachedlinkinfo:VX|A|mobility_reports2.php S|mobility_graph.php K|mobility_reports2.html H|person_position.php H|nohref
vti_cachedsvcrellinks:VX|NAUS|Pms/templates/career/mobility_reports2.php NSUS|Pms/templates/career/mobility_graph.php FKUS|Pms/templates/career/mobility_reports2.html NHUS|Pms/templates/career/person_position.php NHUS|Pms/templates/career/nohref
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_backlinkinfo:VX|Pms/templates/career/mobility_reports2.html
