vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|28 Jan 2004 07:21:38 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|28 Jan 2004 07:21:38 -0000
vti_filesize:IR|1447
vti_cachedlinkinfo:VX|H|fam_without_model.php H|mod_without_skills.php H|models_notin_career_goals.php A|model_match.php A|emp_match.php
vti_cachedsvcrellinks:VX|NHUS|Pms/templates/career/fam_without_model.php NHUS|Pms/templates/career/mod_without_skills.php NHUS|Pms/templates/career/models_notin_career_goals.php NAUS|Pms/templates/career/model_match.php NAUS|Pms/templates/career/emp_match.php
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_backlinkinfo:VX|
